$primary: rgba(4, 150, 255);
$primary-dec: rgb(108, 189, 246);
$disabled: #ccc;
$secondary: rgba(82, 82, 140);

$font-color: black;
$title-color: black;

$bg-color: white;
$bg-color-dec: rgba(82, 82, 140, 0.1);
$content-bg: rgb(43, 43, 83);

// Media queries
$mobile: 'max-width: 991px';
$desktop: 'min-width: 992px';

$radius: 16px;
$radius-element: 8px;

$shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
